.main {
  width: 100%;
  padding: 80px 20px;
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 768px) {
}
