.logoLink {
  display: block;
  width: 150px;
  text-decoration: none;
  cursor: pointer;
}
.logoImg {
  margin: 0 auto;
}

// props style
.small {
  width: 100px;
}
.medium {
  width: 150px;
}
.large {
  width: 250px;
}
.xlarge {
  width: 300px;
}

@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 768px) {
}
