.pageTitle {
  width: 100%;
  padding: 10px 0px;
  box-sizing: border-box;
}
.title {
  font-size: 100px;
}
.subText {
  font-size: 60px;
}

@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 768px) {
}
