.card {
  width: 22%;
  min-height: 400px;
  border: 1px solid white;
  border-radius: 10px;
  margin-bottom: 70px;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}
